@model IEnumerable<rpi_web_e.Models.News>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">
    <div class="page-header">
        <h1>Latest news</h1>
    </div>
    @foreach (var item in Model)
    {
        <p>
            @Html.DisplayFor(model => item.Date)
            <br>
            @Html.DisplayFor(model => item.Text)
        </p>  @*TODO: pievienot read more -> new view*@
    }

</div>

